In [3]:
import numpy as np, pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from ISLP import load_data
from statsmodels.stats.anova import anova_lm

In [4]:
from pygam import s as s_gam, l as l_gam, f as f_gam, LinearGAM, LogisticGAM
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit, cross_validate
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import OneHotEncoder, PolynomialFeatures, KBinsDiscretizer, SplineTransformer
from sklearn.model_selection import GridSearchCV
from sklearn.discriminant_analysis import StandardScaler

In [5]:
Wage = load_data("Wage")

Wage

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,1. Never Married,1. White,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.318063,75.043154
1,2004,24,1. Never Married,1. White,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,2. No,4.255273,70.476020
2,2003,45,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.875061,130.982177
3,2003,43,2. Married,3. Asian,4. College Grad,2. Middle Atlantic,2. Information,2. >=Very Good,1. Yes,5.041393,154.685293
4,2005,50,4. Divorced,1. White,2. HS Grad,2. Middle Atlantic,2. Information,1. <=Good,1. Yes,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,2. Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,5.041393,154.685293
2996,2007,30,2. Married,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,2. >=Very Good,2. No,4.602060,99.689464
2997,2005,27,2. Married,2. Black,1. < HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,2. No,4.193125,66.229408
2998,2005,27,1. Never Married,1. White,3. Some College,2. Middle Atlantic,1. Industrial,2. >=Very Good,1. Yes,4.477121,87.981033
2999,2009,55,5. Separated,1. White,2. HS Grad,2. Middle Atlantic,1. Industrial,1. <=Good,1. Yes,4.505150,90.481913

In [6]:
def clean_text_series(series):
    return (
        series.str.lower()
        .str.replace(r"^\d+\.\s*", "", regex=True)
        .str.replace(" ", "_")
    )


wage_df = Wage.copy()

wage_df_categorical_cols = wage_df.select_dtypes(include=["object", "category"]).columns

wage_df[wage_df_categorical_cols] = (
    wage_df.select_dtypes(include=["object", "category"]).apply(clean_text_series)
)

wage_df

,year,age,maritl,race,education,region,jobclass,health,health_ins,logwage,wage
0,2006,18,never_married,white,<_hs_grad,middle_atlantic,industrial,<=good,no,4.318063,75.043154
1,2004,24,never_married,white,college_grad,middle_atlantic,information,>=very_good,no,4.255273,70.476020
2,2003,45,married,white,some_college,middle_atlantic,industrial,<=good,yes,4.875061,130.982177
3,2003,43,married,asian,college_grad,middle_atlantic,information,>=very_good,yes,5.041393,154.685293
4,2005,50,divorced,white,hs_grad,middle_atlantic,information,<=good,yes,4.318063,75.043154
...,...,...,...,...,...,...,...,...,...,...,...
2995,2008,44,married,white,some_college,middle_atlantic,industrial,>=very_good,yes,5.041393,154.685293
2996,2007,30,married,white,hs_grad,middle_atlantic,industrial,>=very_good,no,4.602060,99.689464
2997,2005,27,married,black,<_hs_grad,middle_atlantic,industrial,<=good,no,4.193125,66.229408
2998,2005,27,never_married,white,some_college,middle_atlantic,industrial,>=very_good,yes,4.477121,87.981033
2999,2009,55,separated,white,hs_grad,middle_atlantic,industrial,<=good,yes,4.505150,90.481913

In [7]:
y = wage_df["wage"]
X = wage_df.drop(["wage", "logwage"], axis=1)

In [8]:
cols_preprocess = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(drop="if_binary", sparse_output=False), wage_df_categorical_cols),
    ],
    remainder="passthrough",
    verbose_feature_names_out=False,
    
).set_output(transform="pandas")

### Polynomial Regression

In [9]:
cols_poly = ColumnTransformer(
    transformers=[
        ("poly_age", PolynomialFeatures(include_bias=False), ["age"]),
        ("poly_year", PolynomialFeatures(include_bias=False), ["year"]),
    ],
    remainder="passthrough",
    verbose_feature_names_out=True,
    
)

In [10]:
poly_pipe = Pipeline(
    steps=[
        ("cols_preprocess", cols_preprocess),
        ("cols_poly", cols_poly),
        ("scaler", StandardScaler()),
        ("ols", LinearRegression()),
    ]
)


param_grid = {
    "cols_poly__poly_age__degree": range(1, 5),
    "cols_poly__poly_year__degree": range(1, 5),
}

poly_grid = GridSearchCV(
    estimator=poly_pipe,
    param_grid=param_grid,
    cv=5,
    scoring="neg_mean_squared_error",
    verbose=1,
)

poly_results = poly_grid.fit(X, y)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

In [11]:
poly_results.best_params_

{'cols_poly__poly_age__degree': 3, 'cols_poly__poly_year__degree': 1}

In [12]:
poly_results.best_score_

-1144.1453906683369

### Splines

In [13]:
cols_spline = ColumnTransformer(
    transformers=[
        (
            "spline_age",
            SplineTransformer(
                n_knots=5, degree=3, include_bias=False, knots="quantile"
            ),
            ["age"],
        ),
        (
            "spline_year",
            SplineTransformer(include_bias=False, knots="quantile"),
            ["year"],
        ),
    ],
    remainder="passthrough",
    verbose_feature_names_out=False,
).set_output(transform="pandas")

In [14]:
spline_pipe = Pipeline(
    steps=[
        ("cols_preprocess", cols_preprocess),
        ("cols_spline", cols_spline),
        ("scaler", StandardScaler()),
        ("ols", LinearRegression()),
    ]
)


param_grid = {
    "cols_spline__spline_age__degree": range(1, 3),
    "cols_spline__spline_age__n_knots": range(1, 10),
    "cols_spline__spline_year__degree": range(1, 3),
    "cols_spline__spline_year__n_knots": range(1, 10),
}

spline_grid = GridSearchCV(
    estimator=spline_pipe,
    param_grid=param_grid,
    cv=5,
    scoring="neg_mean_squared_error",
    verbose=1,
)

spline_results = spline_grid.fit(X, y)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits

c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
340 fits failed out of a total of 1620.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
340 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\base.py", line 1152, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\pipeline.py", line 423, in fit
    Xt = self._fit(X, y, **fit_params_steps)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\pipeline.py", line 377, in _fit
    X, fitted_transformer = fit_transform_one_cached(
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\joblib\memory.py", line 353, in __call__
    return self.func(*args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\pipeline.py", line 957, in _fit_transform_one
    res = transformer.fit_transform(X, y, **fit_params)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\utils\_set_output.py", line 157, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\base.py", line 1152, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\compose\_column_transformer.py", line 754, in fit_transform
    result = self._fit_transform(X, y, _fit_transform_one)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\compose\_column_transformer.py", line 681, in _fit_transform
    return Parallel(n_jobs=self.n_jobs)(
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\utils\parallel.py", line 65, in __call__
    return super().__call__(iterable_with_config)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\joblib\parallel.py", line 1863, in __call__
    return output if self.return_generator else list(output)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\joblib\parallel.py", line 1792, in _get_sequential_output
    res = func(*args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\utils\parallel.py", line 127, in __call__
    return self.function(*args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\pipeline.py", line 957, in _fit_transform_one
    res = transformer.fit_transform(X, y, **fit_params)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\utils\_set_output.py", line 157, in wrapped
    data_to_wrap = f(self, X, *args, **kwargs)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\base.py", line 919, in fit_transform
    return self.fit(X, y, **fit_params).transform(X)
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\utils\_param_validation.py", line 96, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'n_knots' parameter of SplineTransformer must be an int in the range [2, inf). Got 1 instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\PC\Documents\envs\islp_py310\lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [           nan            nan            nan            nan
            nan            nan            nan            nan
            nan            nan            nan            nan
            nan            nan            nan            nan
            nan            nan            nan -1160.17211121
 -1161.68635458 -1161.35296871 -1159.40522484 -1163.6988654
 -1163.51257498 -1163.18977313 -1164.49356297            nan
 -1161.98044796 -1159.20272567 -1161.42087983 -1165.08784684
 -1166.01049147 -1167.02099405 -1165.75750644 -1169.57758594
            nan -1144.3150906  -1143.99799607 -1147.25589882
 -1144.85657319 -1147.46726047 -1146.72470463 -1147.84693175
 -1149.67770306            nan -1143.61046428 -1144.45752259
 -1146.17943962 -1149.62710997 -1148.73313057 -1146.72871601
 -1150.49523305 -1150.21941181            nan -1145.2332603
 -1145.04084128 -1145.79944718 -1147.01760848 -1149.24645687
 -1149.58037074 -1154.25129958 -1150.92202068            nan
 -1146.49873737 -1146.18057824 -1147.0616058  -1151.70818354
 -1149.48057335 -1151.26973656 -1149.91467656 -1150.75539504
            nan -1146.74594779 -1150.08165332 -1149.07707258
 -1151.75521038 -1151.63609798 -1151.3904882  -1151.52910378
 -1153.58398108            nan -1147.00649623 -1147.86837956
 -1149.39948953 -1156.41967631 -1150.41068691 -1151.30036986
 -1152.49488947 -1154.12329986            nan -1146.59890278
 -1146.40141637 -1148.65329947 -1149.04036912 -1149.41610179
 -1149.72962954 -1156.48498833 -1152.32972162            nan
 -1148.16696991 -1147.06069356 -1148.30641184 -1151.83943111
 -1150.50884166 -1151.00603103 -1153.36268216 -1151.02189431
            nan -1150.23171965 -1145.20716643 -1150.78982582
 -1148.4812566  -1148.09752663 -1149.76760496 -1151.4674346
 -1149.13552565            nan -1145.68115277 -1148.02175594
 -1152.10339526 -1154.36989179 -1152.09725566 -1152.62613821
 -1154.67941394 -1153.64150198            nan -1148.0583769
 -1147.46385561 -1146.43092263 -1148.97153355 -1149.39677676
 -1152.42449283 -1151.22961561 -1149.95706879            nan
 -1145.78605601 -1146.11067847 -1145.89111991 -1150.82624179
 -1151.99932414 -1148.87315025 -1153.71819101 -1151.64769582
            nan -1152.26243313 -1150.04626446 -1152.40281757
 -1159.88877645 -1154.88619839 -1150.63463089 -1153.33219873
 -1155.45364376            nan -1154.66789087 -1151.18045472
 -1154.63883689 -1156.68502663 -1158.17058593 -1155.92966758
 -1155.86872817 -1154.26494297            nan            nan
            nan            nan            nan            nan
            nan            nan            nan            nan
            nan            nan            nan            nan
            nan            nan            nan            nan
            nan -1145.1834027  -1148.29518383 -1146.81775347
 -1148.6831184  -1149.71556668 -1145.91699469 -1148.3084099
 -1151.60054088            nan -1145.4377279  -1146.95284573
 -1146.70370064 -1150.82926926 -1151.52316563 -1150.13436226
 -1151.29834853 -1149.58375031            nan -1146.04808091
 -1148.58536851 -1146.80606541 -1147.44618342 -1149.72972941
 -1146.67228506 -1152.01980567 -1149.95823979            nan
 -1145.56306487 -1145.54406587 -1149.13339751 -1149.58836296
 -1150.29203493 -1163.33434795 -1149.99984148 -1149.62797225
            nan -1146.57164665 -1145.63465251 -1148.65233775
 -1148.44917553 -1147.57842878 -1149.20389978 -1151.65245218
 -1149.85119431            nan -1145.09532832 -1146.15589196
 -1146.57532109 -1212.03367292 -1172.35783646 -1150.03867647
 -1177.70501001 -1150.73605567            nan -1147.28194444
 -1144.47124664 -1147.07123965 -1170.11332338 -1245.26621265
 -1148.69849902 -1150.14927674 -1149.61670889            nan
 -1147.61570806 -1146.99830493 -1149.36302429 -1151.61965518
 -1166.1324587  -1157.20105187 -1329.49278638 -1153.15206019
            nan -1149.65453803 -1146.76874901 -1148.51475638
 -1217.64292137 -1212.11387934 -1164.40134085 -1153.98334725
 -1164.30056159            nan -1145.7977313  -1147.73047947
 -1186.67203144 -1246.01524117 -1210.12142947 -1211.41866311
 -1183.11496344 -1150.45920346            nan -1147.80608857
 -1148.67264488 -1200.84526558 -1187.83702951 -1154.46934322
 -1155.94122181 -1190.36755719 -1155.45557113            nan
 -1149.65872585 -1156.03792897 -1190.11246069 -1176.1093724
 -1357.91597001 -1336.20259449 -1236.51340672 -1152.44801699
            nan -1152.20135509 -1151.80002892 -1157.67300784
 -1166.45050741 -1159.17496531 -1175.31214217 -1158.78793097
 -1197.79225454            nan -1150.60858738 -1161.13822299
 -1165.55225467 -1185.9983475  -1229.59750463 -1244.03280841
 -1191.45481688 -1157.84356259            nan -1232.94080004
 -1148.24768505 -1148.65531044 -1160.19729392 -1209.74304073
 -1322.28815774 -1188.58424091 -1180.83106279            nan
 -1151.29868528 -1148.76227891 -1207.75896558 -1156.7056352
 -1182.20343204 -1154.54193332 -1179.2019016  -1159.98897323]
  warnings.warn(

In [15]:
spline_results.best_params_

{'cols_spline__spline_age__degree': 1,
 'cols_spline__spline_age__n_knots': 3,
 'cols_spline__spline_year__degree': 2,
 'cols_spline__spline_year__n_knots': 2}

In [16]:
spline_results.best_score_

-1143.610464277837

In [21]:
spline_estimator = spline_results.best_estimator_