In [1]:
from ISLP import load_data
import pandas as pd
import numpy as np

In [2]:
boston_df = load_data("Boston")
boston_df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

## a)

In [3]:
medv_mean = boston_df.medv.mean()
medv_mean

22.532806324110677

## b)

In [4]:
medv_std = boston_df.medv.std()
medv_ste = medv_std / np.sqrt(len(boston_df))

medv_ste

0.40886114749753505

## c)

In [5]:
def boot(
    column: pd.Series,
    n=None,
    B=100,
    seed=4,
):
    rng = np.random.default_rng(seed)
    __first, __second = 0, 0
    n = n or column.shape[0]
    for _ in range(B):
        idx = rng.choice(column.index,
        n,
        replace=True)
        column_mean = column[idx].mean()
        __first += column_mean
        __second += column_mean ** 2
    return np.sqrt(__second / B - (__first / B)**2)

medv_boot_ste = boot(column=boston_df.medv)

medv_boot_ste

0.43285191990046634

## d)

In [6]:
def conf_interval(mean, ste):
    ste_double = 2 * ste

    return (mean - ste_double, mean + ste_double)

In [7]:
#Withou Bootstrap
conf_interval(medv_mean, medv_ste)

(21.715084029115605, 23.35052861910575)

In [8]:
# With Bootstrap
conf_interval(medv_mean, medv_boot_ste)

(21.667102484309744, 23.39851016391161)

## e)

In [9]:
medv_median = boston_df.medv.median()
medv_median

21.2

## f)

In [10]:
def boot_median(
    column: pd.Series,
    n=None,
    B=100,
    seed=4,
):
    rng = np.random.default_rng(seed)
    __first, __second = 0, 0
    n = n or column.shape[0]
    for _ in range(B):
        idx = rng.choice(column.index,
        n,
        replace=True)
        column_median = column[idx].median()
        __first += column_median
        __second += column_median ** 2
    return np.sqrt(__second / B - (__first / B)**2)

medv_boot_ste = boot_median(column=boston_df.medv)

medv_boot_ste

0.36547605940719874

## g)

In [11]:
medv_perc_10 = np.percentile(boston_df.medv, 10)
medv_perc_10

12.75

## h)

In [12]:
def boot_ste_perc_10(
    column: pd.Series,
    n=None,
    B=100,
    seed=4,
):
    rng = np.random.default_rng(seed)
    __first, __second = 0, 0
    n = n or column.shape[0]
    for _ in range(B):
        idx = rng.choice(column.index,
        n,
        replace=True)
        column_median = np.percentile(column[idx], 10)
        __first += column_median
        __second += column_median ** 2
    return np.sqrt(__second / B - (__first / B)**2)

medv_ste_perc_10 = boot_ste_perc_10(column=boston_df.medv)
medv_ste_perc_10

0.490987525299702