![Alt text](image.png)

In [1]:
import pandas as pd
import numpy as np

In [4]:
# Creating the dataframe with the question data set
df = pd.DataFrame(
    {
        "Obs.": [1, 2, 3, 4, 5, 6],
        "X1": [0, 2, 0, 0, -1, 1],
        "X2": [3, 0, 1, 1, 0, 1],
        "X3": [0, 0, 3, 2, 1, 1],
        "Y": ["Red", "Red", "Red", "Green", "Green", "Red"]
    }
)

df

   Obs.  X1  X2  X3      Y
0     1   0   3   0    Red
1     2   2   0   0    Red
2     3   0   1   3    Red
3     4   0   1   2  Green
4     5  -1   0   1  Green
5     6   1   1   1    Red

### a) Compute the Euclidean distance between each observation and the test point, X 1 = X 2 = X 3 = 0

In [3]:
# Distance to the data point of interest
df['distance'] = (df.X1 ** 2 + df.X2 ** 2 + df.X3 ** 2) ** (1/2)
df = df.sort_values('distance')

df

   Obs.  X1  X2  X3      Y  distance
4     5  -1   0   1  Green  1.414214
5     6   1   1   1    Red  1.732051
1     2   2   0   0    Red  2.000000
3     4   0   1   2  Green  2.236068
0     1   0   3   0    Red  3.000000
2     3   0   1   3    Red  3.162278

### b) What is our prediction with K = 1? Why?


With K=1, the nearest neighbor is observation 5 with Y equals to Green, therefore our prediction for Y is Green.

### c) What is our prediction with K = 3? Why?


With K=3, the nearest neighbors are observation 5, 6 and 2 that Y are Green, Red and Red, respectively. Then, since are more reds than green, our prediction for Y is red.

### d)f the Bayes decision boundary in this problem is highly non-linear, then would we expect the best value for K to be large or small? Why?



Small. With K being a large value, the model will take more data points to consideration, this process will data points share the same neighbors, decreasing the flexibility of the decision boundary. With a small K, the points will share less and less neighbors, therefore, since the model will take into account only a few neighbors for each point, the decision boundary will be more flexible